
body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(103, 58, 28)
}
	
h1{
	text-align: center;
    font-size: 40px;
    color: aliceblue;
}



form {
	margin: 40px 0;
	
	color: #ffffff;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
	
	color: #ffffff;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
	text-align: center;
	color: #ffffff;
	
}

.checkbox {
	margin: 20px 0;
	text-align: center;
	color: #ffffff;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: rgba(255, 253, 252, 0.863);
	color: rgba(171, 66, 37, 0.496);
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: rgb(139, 137, 134);
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
	text-align: center;
	color: #ffffff;
}

thead {
	background: #ffffff;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

td, th {
	border: 1px solid #ffffff;
	padding: 8px 15px;
	text-align: center;
}

